/* ////////// side ikon ///////// */
#chatPage {
    position: fixed;
}
/* ////////// alt indhold  ///////// */
main {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: [col-1] 1fr [col-2] minmax(300px, 2fr);
  grid-template-areas:
      "main sidebar";
}
main > div {
  /* height udregnet så den er 100vh-3rem som svarer til top navigation højden (understøttet af flere browsere) */
  height: -webkit-calc(100vh - 8rem);
  height: -moz-calc(100vh - 8rem);
  height: calc(100vh - 8rem);
}
  /* ////////// kolonne 1 ///////// */
  .column-1 {
    grid-area: main;
    margin-left: 6.5rem;
  }
  .column-1 h1 {
    margin: 0rem 1rem 1rem 0rem;
  }
  .chat-overview {
    border-radius: 10px;
	  background-color: var(--container-background-color);
    padding-top: 1rem;
    height: calc(100% - 2rem);
    padding-bottom: 1rem;
  }
    .overview-container {
      overflow-y: scroll;
      height: 100%;
    }
    .overview-container::-webkit-scrollbar{
      display: none;
    }

.content:first-child{
    margin-top:0px;
}
    .content {
      background-color: var(--mainContainer-background-color);
      box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
      width: 95%;
      height: 6rem;
      border-radius: 10px;
      position: relative;
      margin-top: 1rem;
      overflow: hidden;
      padding-bottom: 1rem;
	    margin-left: 0.5rem;
      margin-right: 0.5rem;
      cursor: pointer;
    }
      /*  rød tag */
      .content::after {
        content: "";
        position: absolute;
        background: var(--main-orange-color);
        width: 0.25rem;
        height: 3rem;
        border-radius: 2px;
        left: 0px;
        top: 1rem;
      }
      .content-top {
        display: flex;
        flex-direction: row;
      }
        .content-top ul {
          list-style: none;
          padding: 0;
          margin-left: 4rem;
          margin-top: 0rem;
          margin-right: 1rem;
          justify-content: center;
        }
        .top-billede {
          position: absolute;
          background-color: var(--main-navbar-color);
          border-radius: 50%;
          width: 2.5rem;
          height: 2.5rem;
          margin-left: 1rem;
          margin-top: 1rem;
        }
        .content-top h3 {
          font-size: 1rem;
          margin-bottom: 0rem;
        }
        .content-top span {
          font-size: 0.9rem;
          color: var(--content-span-color);
        }
        .content-top p {
          margin-top: 0.3rem;
          font-size: 0.8rem;
        }

  /* ////////// kolonne 2 ///////// */

  .column-2 {
    grid-area: sidebar;
    margin-right: 1.5rem;
  }
    .column-2 h1 {
      margin: 0rem 1rem 1rem 0rem;
      color: var(--h2-color);
    }
     .chat-window {
      background-color: var(--container-background-color);
      box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
      width: 100%;
      height: 100%;
      border-radius: 10px;
      position: relative;
      overflow: hidden; 
    }

.messages-container{
  display: block;
  height: calc(100% - 6rem);
  padding: 1rem;
  overflow-y: scroll;
}
  .messages-container::-webkit-scrollbar {
    display: none;
  }
  .recived-chat {
    display: flex;
    flex-direction: row;
    position: relative;
  }
    .recived-picture {
      position: absolute;
      bottom: 0rem;
      left: 0;
      background-color: var(--main-navbar-color);
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
    }
    .recived-chat p {
      margin-left: 3rem;
      width: auto;
      max-width: 80%;
      background-color: var(--mainContainer-background-color);
      font-size: 0.9rem;
      box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
      padding: 0.5rem;
      border-radius: 10px;
      border-bottom-left-radius: 0px;
    }
    .recived-time {
      position: absolute;
      bottom: -0.1rem;
      left: 3rem;
      font-size: 0.8rem;
      opacity: 0.5;
    }
  .user-chat{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
  }
    .user-chat p {
      width: auto;
      max-width: 80%;
      background-color: var(--side-navbar-color);
      color: white;
      font-size: 0.9rem;
      box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
      padding: 0.5rem;
      border-radius: 10px;
      border-bottom-right-radius: 0px;
    }
    .user-time {
      position: absolute;
      bottom: -0.1rem;
      font-size: 0.8rem;
      opacity: 0.5;
      
    }
.message-input{
	position: absolute;
  bottom: 0;
  height: auto;
	background-color: var(--side-navbar-color);
  width: 100%;
  padding: 1rem;
}
  .input-container {
    width: calc(100% - 3rem);
    position: relative;
    background-color: var(--mainContainer-background-color);
    border-radius: 10px;
  }
    #messageInput{
      width: 90%;
      margin-left: 0.1rem;
      height: auto;
      min-height: 2rem;
      border-style: none;
      border-radius: 10px;
    }
.sendButton{
  position: absolute;
  right: 0.5rem;
  bottom: 0.2rem;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	background-color: var(--main-orange-color);
}
  #sendButton{
    border:none;
    outline:none;
    background-color: transparent;
  }
  #arrowImg{
    height: 1.5rem;
    width: 1.5rem;
    transform: rotate(180deg);
    position: absolute;
    top: 2px;	
    right: 10%;
  }


@media only screen and (max-width: 800px) {
  
  main {
    grid-template-columns: [col-1] minmax(300px, 1fr);
    grid-template-areas:
        "recommended"
        "sidebar"
        "main";
  }
    /* ////////// kolonne 1 ///////// */
    .column-1 {
      margin: 0 1rem 0 1rem;
    }
    /* ////////// kolonne 1 ///////// */
    .column-2 {
      margin: 0rem 1rem 0 1rem;
    }
}
