/* ////////// side ikon ///////// */
#home {
    background-color: var(--main-orange-color);
}
/* ////////// alt indhold ///////// */
main {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: [col-1] 2fr [col-2] minmax(300px, 1fr);
  height: 100vh;
  grid-template-areas:
      "main sidebar";
}
  /* ////////// kolonne 1 ///////// */
  .column-1 {
    grid-area: main;
    margin-left: 6.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: stretch;
  }
  .column-1 h1:first-child {
    margin: 0rem 1rem 1rem 0rem;
  }
  .column-1 h1 {
    margin: 1rem 1rem 1rem 0rem;
  }
  .posts-wrapper {
    flex: 1;
    overflow-y: scroll;
    background-color: var(--container-background-color);
    border-radius: 10px;
    -ms-overflow-style: none;
    padding-top: 1rem;
  }
  .posts-wrapper::-webkit-scrollbar {
    display: none;
  }
    .content {
      background-color: var(--mainContainer-background-color);
      box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
      width: calc(100%-1rem);
      border-radius: 10px;
      position: relative;
      margin-top: 1.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      cursor: pointer;
    }
    .contentNameDate {
      display: flex;
      flex-direction: row;
      margin-bottom: -0.5rem;
    }
    .content:first-child {
      margin-top: 0rem;
    }
      /*  rød tag */
      .content::after {
        content: "";
        position: absolute;
        background: var(--main-orange-color);
        width: 0.25rem;
        height: 5rem;
        border-radius: 2px;
        left: 0px;
        top: 1rem;
      }
      .content-top {
        display: flex;
        flex-direction: row;
      }
        .content-top ul {
          list-style: none;
          padding: 0;
          margin-left: 6rem;
          margin-top: 0rem;
          margin-right: 1rem;
          justify-content: center;
        }
        .top-billede {
          position: absolute;
          background-color: var(--main-navbar-color);
          border-radius: 50%;
          width: 4rem;
          height: 4rem;
          margin-left: 1.5rem;
          margin-top: 1rem;
        }
        .content-top h3 {
          margin-bottom: 0.2rem;
        }
        .content-top span {
          color: var(--content-span-color);
        }
  .chat-overview {
    flex: 1;
    margin-bottom: 5rem;
    overflow-y: scroll;
    background-color: var(--container-background-color);
    border-radius: 10px;
    padding-top: 1rem;
  }
  .chat-overview::-webkit-scrollbar{
    display: none;
    }

  /* ////////// kolonne 2 ///////// */

  .column-2 {
    grid-area: sidebar;
    margin-right: 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: stretch;
  }
    .session-wrapper, .goal-wrapper {
      margin-bottom: 1.5rem;
    }
      .goal-wrapper{
        margin-top: 1.5rem;
      }
    .column-2 h2 {
      color: var(--h2-color);
	    margin: 0.5rem 1rem -0.5rem 0rem;
    }

    .traingingSessions-wrapper, .traingingGoal-wrapper {
      flex: 1;
      overflow-y: scroll;
      width: 100%;
      background-color: var(--container-background-color);
      box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
      border-radius: 10px;
    }
      .traingingSessions-wrapper h3 {
        margin: 0.5rem 0rem 0rem 1rem;
        opacity: 0.7;
        font-size: 1rem;
      }
      .traingingGoal-wrapper {
        margin-bottom: 5rem;
      }
    .traingingSessions-wrapper::-webkit-scrollbar, .traingingGoal-wrapper::-webkit-scrollbar {
      display: none;
    }
      .training {
        width: 90%;
        margin-top: 1rem;
        padding-top: 0.05rem;
        padding-bottom: 0.05rem;
        background-color: var(--mainContainer-background-color);
        box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
      }
      .training::after {
        content: "";
        position: absolute;
        background: var(--main-orange-color);
        width: 0.25rem;
        height: 2.5rem;
        border-radius: 2px;
        left: 0px;
        top: 0.5rem;
      }
      .training ul {
        list-style: none;
      }
      hr {
        margin-top: 1rem;
        opacity: 0.3;
      }
        .add-training-button {
          background-color: var(--main-orange-color);
          border: none;
          color: white;
          padding: 0 1.5rem;
          text-align: center;
          cursor: pointer;
        }

    .traingingGoal-wrapper {
      background-color: var(--container-background-color);
      box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
      width: 100%;
      border-radius: 10px;
      position: relative;
      min-height: 80px;
      display: flex;
      justify-content: center;
    }
    /* progression */
    .progression-container {
      margin-top: 1rem;
      position: absolute;
      width: 95%;
      border-radius: 25px;
      background-color: var(--container-background-color);
    }
    .progression-bar {
      width: 50%;
      height: 15px;
      border-radius: 25px;
      background-color: var(--main-orange-color);
      text-align: center;
      line-height: 1rem;
      color: white;
    }
    .traingingGoal-wrapper button {
      margin-top: 3rem;
      height: 2rem;
      background-color: var(--main-orange-color);
      border: none;
      color: white;
      padding: 0 1.5rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }
@media only screen and (max-width: 800px) {
  
  main {
    grid-template-columns: [col-1] minmax(300px, 1fr);
    grid-template-areas:
        "sidebar"
        "main";
  }
    /* ////////// kolonne 1 ///////// */
    .column-1 {
      margin: 0 1rem 0 1rem;
    }
    /* ////////// kolonne 1 ///////// */
    .column-2 {
      margin: 0rem 1rem 0 1rem;
    }
}
