/* ////////// side ikon ///////// */
#groups {
    background-color: var(--main-orange-color);
}
/* ////////// alt indhold ///////// */
main {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: [col-1] 2fr [col-2] minmax(300px, 1fr);
  height: 100vh;
  grid-template-areas:
      "recommended recommended"
      "main sidebar";
}
    /* ////////// foreslåede grupper ///////// */
    .topbar-groups {
      grid-area: recommended;
      background-color: var(--container-background-color);
      box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
      margin: 2rem 1.5rem -1rem 6.5rem;
      border-radius: 20px;
      display: flex;
      flex-direction: row;
      height: 4rem;
      justify-content:flex-start;
      align-items: center;
      overflow-x: auto;
    }
    .groups {
      background-color: var(--main-navbar-color);
      border-radius: 50%;
    	min-width: 3rem;
    	height: 3rem;
      margin-left: 1rem;
    }
  /* ////////// kolonne 1 ///////// */
  .column-1 {
    grid-area: main;
    margin-left: 6.5rem;
  }
  .column-1 h1 {
    margin: 0rem 1rem 1rem 0.5rem;
  }
  .posts-wrapper {
    overflow-y: scroll;
    height: 72.5vh;
	border-radius: 20px;
	background-color: var(--container-background-color);
	padding-top: 1.5rem;
  }
  .posts-wrapper::-webkit-scrollbar {
    display: none;
  }
  .posts-wrapper {
    -ms-overflow-style: none;
  }
    .content {
      background-color: var(--mainContainer-background-color);
      box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
      width: 95%;
      border-radius: 20px;
      position: relative;
      margin-top: 1.5rem;
	  margin-left: auto;
	  margin-right: auto;
    }
    .content:first-child {
      margin-top: 0rem;
    }
      /*  rød tag */
      .content::after {
        content: "";
        position: absolute;
        background: var(--main-orange-color);
        width: 0.25rem;
        height: 5rem;
        border-radius: 2px;
        left: 0px;
        top: 1rem;
      }
      .content-top {
        display: flex;
        flex-direction: row;
      }
        .content-top ul {
          list-style: none;
          padding: 0;
          margin-left: 6rem;
          margin-top: 0rem;
          margin-right: 1rem;
          justify-content: center;
        }
        .top-billede {
          position: absolute;
          background-color: var(--main-navbar-color);
          border-radius: 50%;
          width: 4rem;
          height: 4rem;
          margin-left: 1.5rem;
          margin-top: 1rem;
        }
        .content-top h3 {
          margin-bottom: 0.2rem;
        }
        .content-top span {
          color: var(--content-span-color);
        }
      .content hr {
        margin-top: -1rem;
      }
      .content-comment {
        display: flex;
        flex-direction: row;
        margin-right: 0;
        margin-left: 3.5rem;
      }
        .comment-billede {
          position: absolute;
          background-color: var(--main-navbar-color);
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          margin-left: 2.5rem;
          margin-top: 1rem;
        }
        .content-comment ul {
          list-style: none;
          padding: 0;
          margin-left: 6rem;
          margin-top: -0.5rem;
          margin-right: 1rem;
          justify-content: center;
        }
        .content-comment h5 {
          margin-bottom: 0rem;
        }

  /* ////////// kolonne 2 ///////// */

  .column-2 {
    grid-area: sidebar;
    margin-right: 1.5rem;
  }
    .session-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .column-2 h2 {
      margin: 0.6rem 1rem 1rem 0.5rem;
      color: var(--h2-color);
    }

      .add-session {
        background-color: var(--container-background-color);
        box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
        min-width: 8rem;
        border-radius: 20px;
        height: 2rem;
        position: relative;
        cursor: pointer;
      }
      .add-session::after {
        content: '\002B'; /* css entities : svarer til ' + ' */
        color: var(--h2-color);
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        bottom: 0rem;
      }
      .add-session p {
        color: var(--h2-color);
        position: absolute;
        font-size: 0.8rem;
        bottom: -0.3rem;
        margin-left: 0.7rem;
      }
        /* popup modal (background) */
        .modal-wrapper {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          justify-content: center;
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
        }
        /* Modal Content */
        .modal-content-wrapper { 
          width: 400px;
          height: 400px;
          padding: 2rem;
          background-color: var(--container-background-color);
          border-radius: 20px;
          position: relative;
        }
          .modal-content-wrapper::after {
            content: "";
            position: absolute;
            background: var(--main-orange-color);
            width: 0.25rem;
            height: 5rem;
            border-radius: 2px;
            left: 0px;
            top: 1rem;
          }
          .modal-header {
            width: 100%;
            height: 3rem;
            padding-bottom: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between; 
            align-items: center;
          } 
            .modal-header img {
              margin-right: 1.3rem; /* justeret margin så det passer med resten */
              height: 2.5rem;
              width: auto;
              opacity: 0.5;
              cursor: pointer;
            }
          .modal-body {
            width: 100%;
          }
            .modal-body {
              padding: 0.5rem;
              font-size: 1.1rem;
              color: var(--body-text-color);
              letter-spacing: 0.5px;
              display: block;
                text-align: center;
            }
            .modal-body > div {
              margin-bottom: 1.5rem;
            }
            .modal-body label {
              display: block;
            }
            label:hover {
              color: var(--main-orange-color);
            }
          .modal-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.5rem;
            margin-top: 2rem;
            overflow-y: hidden;
            cursor: pointer;
          }
          .modal-footer img {
            margin-left: 1rem;
            height: 2.5rem;
            width: auto;
            opacity: 0.5;
          }
          .modal-footer img:hover {
            opacity: 1;
          }

    .traingingSessions-wrapper {
      background-color: var(--container-background-color);
      box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
      width: 100%;
      border-radius: 20px;
      position: relative;
      height: auto;
      padding: 0.1rem;
      margin-bottom: 3rem;
    }
      .training {
        background-color: var(--mainContainer-background-color);
        box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
        width: 92.5%;
        height: auto;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        position: relative; 
      }
.training h3 {
    margin: 0;
}
.training ul {
    list-style: none;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

    .traingingGoal-wrapper {
      background-color: var(--container-background-color);
      box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
      width: 100%;
      border-radius: 20px;
      position: relative;
      min-height: 80px;
      display: flex;
      justify-content: center;
    }
    /* progression */
    .progression-container {
      margin-top: 1rem;
      position: absolute;
      width: 95%;
      border-radius: 25px;
      background-color: var(--container-background-color);
    }
    .progression-bar {
      width: 50%;
      height: 15px;
      border-radius: 25px;
      background-color: var(--main-orange-color);
      text-align: center;
      line-height: 1rem;
      color: white;
    }
    .traingingGoal-wrapper button {
      margin-top: 2rem;
      background-color: var(--main-orange-color);
      /* copieret fra w3s - midlertidig knap*/
      border: none;
      color: white;
      padding: 0 1.5rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }
@media only screen and (max-width: 800px) {
  main {
    grid-template-columns: [col-1] minmax(300px, 1fr);
    grid-template-areas:
        "recommended"
        "sidebar"
        "main";
  }
      /* ////////// foreslåede grupper ///////// */
      .topbar-groups {
        margin: 1rem 1rem 0rem 1rem;
      }
    /* ////////// kolonne 1 ///////// */
    .column-1 {
      margin: 0 1rem 0 1rem;
    }
    /* ////////// kolonne 1 ///////// */
    .column-2 {
      margin: 0rem 1rem 0 1rem;
    }
}
