@charset "utf-8";
/* CSS Document */
:root {
    --fonts: 'Open Sans', sans-serif;
    --main-background-color: #DBDDE0; /* light grey */
	--main-navbar-color: #122133; /* dark grey blueish */
	--side-navbar-color: #45505f;
    --main-orange-color: #E85F41;
    --headline-text-color: #3B3B3B;
	--body-text-color: #5A5A5A;
	--container-background-color: #F5F5F5;
	--mainContainer-background-color: #FFFFFF;
    font-size: 16px;
  }

body{
	background-color: var(--main-background-color);
}
.top-bar{
	background: var(--main-navbar-color);
}
.logo{
	font-size: 1.2em;
	color: #ffffff;
}
.menuicons{
	width: 24px;
	height: 24px;
	margin-left: 15px;
	margin-right: 10px;
}
#searchbox{
  width: 350px!important;
  height: 22px;
  background: white;
  border-radius: 20px;
}
.icontext{
	color: #ffffff;
	font-size: 1.2em;
	text-align: center;
}
.side-bar{
	background-color: var(--side-navbar-color);
	width: 100px;
	height: 100vh;
	position: fixed;
	
}
.side-nav{
	height: 100vh;
	position: relative;
}
.sidebaricon{
	background-color: var(--main-navbar-color);
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin: 0 auto;
}
.iconpics{
	
}


