@charset "utf-8";
/* CSS Document */
:root {
    --fonts: 'Open Sans', sans-serif;
    --main-background-color: #DBDDE0; /* light grey */
	--main-navbar-color: #122133; /* dark grey blueish */
	--side-navbar-color: #45505f; /* light frey blue ish */
    --main-orange-color: #E85F41; /* Catchy orange */
    --headline-text-color: #3B3B3B;
	--body-text-color: #5A5A5A;
	--container-background-color: #F5F5F5;
	--mainContainer-background-color: #FFFFFF;
    font-size: 16px;
  }

* {
  box-sizing: border-box;
}

body{
	background-color: var(--main-background-color); /* Setting main background color */
    position: fixed
}

header{}

/* ///// Top navigational bar styling ///// */

.top-bar{
	background: var(--main-navbar-color); /* Setting background color for the top navigational bar */
}
.logo{
	font-size: 1.2em; /* Setting text logo font size */
	color: #ffffff; /* Setting text logo color */
}
.menuicons{
	width: 24px; /* Setting widt for top bar icons */
	height: 24px; /* Setting height for top bar icons */
	margin-left: 15px; /* Setting left margin for top bar icons */
	margin-right: 10px; /* Setting right margin for top bar icons */
}
#searchbox{
  width: 350px; /* Setting search bar width */
  height: 22px; /* Setting search bar height */
  background: white; /* Setting background for search field */
  border-radius: 20px; /* Adding rounded corners to the search field */
}

/* ///// Side navigational bar styling ///// */

.icontext{
	color: #ffffff; /* Setting color for icon text */
	font-size: 1.2em; /* Setting font size for icon text */
}
.side-bar{
	background-color: var(--side-navbar-color); /* Setting side navbar background color */
	width: 5rem; /* Setting side navbar width */
	height: 100vh; /* Setting navbar height to fit screen viewport */
	position: fixed; /* Setting side navbar to fixed so it doesn't move */
}
 .side-bar ul li p {
    margin-left: auto; /* Setting icon text to auto left margin */
    margin-right: auto; /* Setting icon text to auto right margin */
                        /* The icons text are now centered */
  }
.sidebaricon{
	background-color: var(--main-navbar-color); /* Setting icons background color */
	border-radius: 50%; /* Making a round background for icons */
	width: 4rem; /* Setting background width */
	height: 4rem; /* Setting background height */
	margin-top: 1rem; /* Dropping the icons down from the top */
    padding: 5% 0; /* Setting padding between icons*/
    margin-left: auto; /* Setting icon left margin to auto */
    margin-right: auto; /* Setting icon right margin to auto */
                        /* The icons are now centered */
}
  .sidebaricon img {
    padding: 15% 0; /* Setting icon image padding */
    width: 70%; /* Setting image width size */
  }

main {
  display: grid; /**/
  grid-gap: 1rem; /**/
  grid-template-columns: [col-1] 2fr [col-2] minmax(300px, 1fr); /**/
  height: 100vh; /**/
}
  main div {
    background-color: var(--main-background-color); /**/
    overflow-y: scroll; /**/
    margin: 1rem; /**/
  }
  main div::-webkit-scrollbar {
    display: none; /**/
  }
  main div {
    -ms-overflow-style: none; /**/
  }
  /* ////////// kolonne 1 ///////// */
  .column-1 {
    grid-column: 1;
    margin-left: 6rem;
  }
  .content {
    width: 100%;
    margin-left: auto;
    background: var(--container-background-color);
    border-radius: 20px;
    position: relative;
  }
  .content::after {
    content: "";
    position: absolute;
    background: var(--main-orange-color);
    width: 0.25rem;
    height: 5rem;
    border-radius: 2px;
    left: 0px;
    top: 1rem;
  }
  .content .billede {
    background-color: var(--main-navbar-color);
    border-radius: 50%;
  	width: 5rem;
  	height: 5rem;
  }
  .content p, h2 {
    margin-left: 1rem;
  }

  /* ////////// kolonne 2 ///////// */
  .column-2 {
    grid-column: 2;
  }
    /* progression */
    .progression-container {
      width: 100%;
      background-color: #ddd;
      border-radius: 25px;
    }

    .progression-bar {
      width: 50%;
      height: 15px;
      border-radius: 25px;
      background-color: #4CAF50;
      text-align: center;
      color: white;
    }