@charset "utf-8";
/* CSS Document */
:root {
    --fonts: 'Open Sans', sans-serif;
    --main-background-color: #DBDDE0; /* light grey */
	  --main-navbar-color: #122133; /* dark grey blueish */
	  --side-navbar-color: #45505f;
    --main-orange-color: #E85F41;
    --headline-text-color: #3B3B3B;
	  --body-text-color: #5A5A5A;
	  --container-background-color: #F5F5F5;
	  --mainContainer-background-color: #FFFFFF;
    --h2-color: #4c5154;
    --content-span-color: grey;
    font-size: 16px;
  }
/* ////////// default ///////// */
body{
	background-color: var(--main-background-color);
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif; /* OBS DENNE FONT? */
  color: #666; /* font farve */
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4 {
  font-weight: 400;
}
main {
  display: flex;
  justify-content: center;

}
  .container-wrapper {
    margin-top: 2rem;
    height: 580px;
    width: 900px;
    background-color: var(--main-orange-color);
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    border-radius: 20px;
    position: relative;
  }
    .picture-fitness {
      float: left;
      z-index: 1;
      background-color: var(--main-orange-color);
      border-radius: 20px;
      width: 320px;
      height: 100%;
      position: absolute;
      overflow-x: hidden;
    }
      .picture-fitness img {
        position: absolute;
        height: 100%;
        left: -20rem;
      }
    .formular-wrapper {
      margin-left: 320px;
      width: 580px;
      height: 100%;
      background-color: var(--container-background-color);
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
      .formular-wrapper > div {
        margin-left: 2rem;
        margin-right: 1rem;
      }
        /* header - sign up / log in / gå ud */
        .formular-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          cursor: default;
          margin-bottom: 0rem;
        }
          .formular-header img { 
            margin-right: 1.3rem; /* justeret margin så det passer med resten */
            height: 2.5rem;
            width: auto;
            opacity: 0.5;
            cursor: pointer;
          }
          .logIn {
            color: var(--main-orange-color)
          }
          .signUp {
            margin-left: -13.5rem;
            opacity: 0.5;
            color: var(--h2-color);
          }
          .signUp:hover {
            opacity: 1;
            color: var(--main-orange-color)
          }
        /* input formular content */
        .signUp-formular {
          display: none;
          width: 100%;
        }
        td:nth-child(even) {
          padding-left: 1rem;
        }
          /* navn/header på input felt */
          label {
            font-size: 1rem;
            color: var(--body-text-color);
            text-transform: capitalize; /* skriver første bogstav med stort */
            display: block;
            opacity: 0.8;
          }
          label:hover {
            color: var(--main-orange-color);
            opacity: 1;
          }
          /* input felt */
          input, .chosen {
            border: none; /* skygge udenom input felt */
            line-height: 3.1rem; /* højden på felt */
            background: var(--mainContainer-background-color);
  /* inset dæmpet invendig skygge */
            border-radius: 5px;
            padding: 0 1rem; /* rygger input ind, så det ikke er helt ud til kanten */
            font-size: 1rem;
            color: var(--body-text-color); /* input font farve */
          }
          .chosen {
            width: 90%;
          }
        /* klik videre når færdig */
        .formular-footer {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 2.5rem;
          margin-top: 2rem;
          overflow-y: hidden;
          cursor: pointer;
        }
        .formular-footer img {
          margin-left: 1rem;
          height: 2.5rem;
          width: auto;
          opacity: 0.5;
        }
        .formular-footer img:hover {
          opacity: 1;
        }


@media only screen and (max-width: 100px) {
  .picture-fitness {
    display: none;
  }
  .formular-wrapper {
    border-radius: 20px;
  }

}
